<!-- views/partials/header.ejs -->
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/admin/add-product">Add Product</a></li>
    <li><a href="/admin/products">View Products</a></li>
  </ul>
</nav>
<hr />
